{% extends "base.html" %}

  {% block start %}

<div>
      <div class="maincontainer container rounded-none max-h-full  max-w-full sm:max-w-full sm:min-w-sm sm:px-[2%] sm:overflow-hidden md:max-w-full md:px-[3%]  md:overflow-hidden  lg:px-[2%] lg:max-w-full lg:overflow-hidden  xl:max-w-screen-full xl:overflow-hidden overflow-hidden ">
            
                   
          <form id= 'rent_form' method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %} 

              <div class="container min-w-12 max-w-64 min-h-6 max-h-32 flex p-4  ">
               

              </div>
       
            
              <div class="topcontainer bg-[#F26828]  rounded-none sm:rounded-xl  mt-26  h-60 container w-full  min-w-[80%] 
              min-h-16  max-h-64 max-w-full  font-bold text-white flex flex-row sm:font-extrabold  sm:h-64 mt-16 sm:overflow-hidden md:max-w-full md:h-64 lg:min-w-full md:mx-auto
            ">
        
             <div class="content pl-8 pt-6 min-h-10 max-h-full  flex flex-col justify-center items-start min-w-70 max-w-full w-3/4  sm:pl-12  sm:pt-2 sm:mt-2 ">
        
            <div class="" >
                <h1 class="text-2xl sm:text-3xl sm:pt-4  sm:mt-2  md:text-4xl   lg:text-4xl whitespace-normal text-white-400 ">Upload your property details</h1>
            </div>
            
            <h2 class="text-base sm:text-1xl sm:font-extralight md:text-2xl lg:text-2xl font-thin text-white-200 pt-2"  >Get the best value for your property in a few steps.</h2>  
           </div>
           
          <div class="container flex justify-end min-w-1/5 w-1/5 max-w-1/5">
            <img class=" hidden lg:block object-contain  h-80 -mt-16 absolute"  src="/static/images3/[removal.ai]_19074ffe-25ba-420b-b921-29e7b3f7bafa-pexels-olly-932328.png" alt="" >
          </div> 
          </div>
        
        
          <div class="sectiontwo mt-5 max-w-full w-full min-w-full  sm:w-full sm:mx-[2%] md:mx-[2%] lg:mx-[6%]  flex flex-row  ">
        
            <div class="want-cont container flex flex-col w-full min-w-[50%] sm:w-full md:w-full  lg:w-[50%] max-width-full    mt-12  mx-6    overflow-hidden        ">
        
            <div class="grid-first-item  overflow-hidden inline   mb-6    text-gray-800           ">
        
            <h1  class="font-bold text-base  text-small pb-3 sm:text-lg sm:font-semibold md:text-xl lg:text-xl    "  ></h1>
            <input type="hidden" id="property_action" name="property_action" value="" class="appearance-none border-2 pl-3 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-purple-[#F26828] focus:border-[#F26828] focus:shadow-outline">

            <div class="buttoncontainer flex flex-row min-h-2 pb-2">
                <div class="Sellcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                  <button type="button" id="sell_button" class="border spacesbtn11 activebtn11 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                    <img class="inline object-contain h-5 pr-4" src="/static/images2/rent-icon.svg" alt="Selllogo">
                    Rent
                  </button>
                </div>
                <div class=" scale-0 Rentcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                  <button type="button" id="rent_button" class="border spacesbtn11 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                    <img class="inline object-contain h-5 pr-4 " src="/static/images2/rent-icon.svg" alt="">
                    Rent
                  </button>
                </div>
              </div>
           

       
              <div class="gridseconditem  row-span-1 h-24 ">
              
                <div class="haveheading ">
                        <h1  class="text-lg font-semibold pb-3 sm:text-lg sm:font-semibold md:text-xl lg:text-xl  ">What kind of property do you have?</h1>
                        </div>

                        <input type="hidden" id="property_type" name="property_type" value="" class="appearance-none border-2 pl-3 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-purple-[#F26828] focus:border-[#F26828] focus:shadow-outline">

                        
                        <div class="categorycon  flex flex-row '">
                        
                            <div class="resedetialbutton  h-12    afterclick">
                                <button  type="button" id="res_button"  class="blinkbtn spacesbtn16 categorybtn p-2  pl-3  pb-2   max-height-full    focus:outline-none  sm:text-lg sm:font-medium md:text-xl lg:text-xl  activebtn16" data-target="resedentialcont">Residential</button>
                            </div>
                            
                            <div class="plotbtn h-12  ">
                                <button   type="button" id="plot_button" class="blinkbtn categorybtn p-2 border-none spacesbtn16   border   px-8 pb-2  active:border-red-500    sm:text-lg sm:font-medium md:text-xl lg:text-xl" data-target="Plotcont">Plot</button>  
                            </div>
                            
                            <div class="commercialbtn   ">
                                <button  type="button" id="comm_button" class="blinkbtn categorybtn p-2  border-none  spacesbtn16  border  px-8 pb-2 active:border-red-500 sm:text-lg sm:font-medium md:text-xl lg:text-xl" data-target="commercialcont">Commercial</button>
                            </div>
                        </div>
                 </div>
            
                 
    
    
                 
                 <div class="gridthirditem">
             
                 
                    <div class="resedentialcont varietycontainer py-4 h-64  flex flex-row flex-wrap  justify-start items-start pb-7 sm:pr-[50%] md:pr-[20%] lg:pr-[50%]  max-h-[100%] " id="resedentialcont"  >
                    
                        <div  class="homecont resedentialbtn    min-w-4 min-h-4  w-32  p-1 h-14 rounded-sm  text-xs   inline-block  overflow-hidden">
                        <button   type="button" class="sub_types border spacesbtn15 activebtn15 text-xs min-w-full  min-h-full   p-2 rounded-xl  "  >
                            <img  class="inline object-contain h-5  pr-4     " src="/static/images2/house.svg" alt="Sellogo ">House<button>
                        </div> 
                        
                        <div  class="homecont  w-32  p-1 h-14  min-w-4 min-h-10     rounded-sm  text-xs  inline-block overflow-hidden  ">
                            <button  type="button" class="sub_types border spacesbtn15   text-xs min-w-full  min-h-full  p-2 rounded-xl  "  >
                                <img class="inline object-contain h-5  pr-4 " src="/static/images2/apartment.svg" alt="Sellogo ">Flat<button>
                            </div> 
                           
                            <div  class="homecont  w-36  p-1 h-14 rounded-sm  text-xs    inline-block overflow-hidden  ">
                                <button   type="button" class="sub_types border spacesbtn15   text-xs  min-w-full  min-h-full  p-1 rounded-xl  "  >
                                    <img class="inline object-contain h-5  pr-2 " src="/static/images2/lower-portion.svg" alt="Sellogo ">Lower Portion<button>
                                </div> 
                            
                                <div  class="homecont  w-36  p-1 h-14 rounded-sm  text-xs  inline-block  overflow-hidden   ">
                                    <button   type="button" class="sub_types border spacesbtn15   text-xs  min-w-full  min-h-full  p-1 rounded-xl  "  >
                                        <img class="inline object-contain h-5  pr-2 " src="/static/images2/upper-portion.svg" alt="Sellogo ">Upper Portion<button>
                                    </div> 
                               
                                    <div  class="homecont  w-32  p-1 h-14 rounded-sm  text-xs    inline-block  overflow-hidden ">
                                        <button  type="button"  class="sub_types border active:border-red-500  text-xs  min-w-full  min-h-full  p-2 rounded-xl spacesbtn151"  >
                                            <img class="inline object-contain h-5  pr-4 " src="/static/images2/basement.svg " alt="Sellogo ">Basement<button>
                                        </div>                  
                    </div>
            
               <!-- here plotcontainercode starts  -->
               <div class="Plotcont varietycontainer py-4 h-64 flex justify-start items-start pb-7 sm:pr-[50%] md:pr-[20%] lg:pr-[50%] max-h-[100%]" id="Plotcont">
                          
                     <div  class="homecont resedentialbtn w-36 p-1 h-14 rounded-sm text-xs inline-block   ">
                        <button  type="button" class=" sub_types border  text-xs min-w-full min-h-full p-2 rounded-xl  spacesbtn15 "  >
                       <img  class="inline object-contain h-5  pr-4" src="/static/images2/house.svg" alt="Sellogo ">Resedential  Plot<button>
                </div> 
                
                <div  class="homecont  w-36 p-1 h-14 rounded-sm text-xs inline-block   ">
                    <button   type="button" class=" sub_types border text-xs  min-w-full  min-h-full  p-2 rounded-xl  spacesbtn15 "  >
                        <img class="inline object-contain h-5  pr-4 " src="/static/images2/apartment.svg" alt="Sellogo ">Commercial Plot<button>
                    </div> 
                   
                    <div  class="homecont  w-36 p-1 h-14 rounded-sm text-xs inline-block   ">
                        <button  type="button" class="sub_types border  text-xs  min-w-full  min-h-full  p-2 rounded-xl spacesbtn15"  >
                            <img class="inline object-contain h-5 pr-4 " src="/static/images2/lower-portion.svg" alt="Sellogo ">Agricultural Plot<button>
                        </div> 
                    
                        <div  class="homecont  w-36 p-1 h-14 rounded-sm text-xs inline-block  ">
                            <button  type="button" class="sub_types border  text-xs  min-w-full  min-h-full  p-2 rounded-xl spacesbtn15 "  >
                                <img class="inline object-contain h-5 pr-4 " src="/static/images2/upper-portion.svg" alt="Sellogo ">Industrial Land<button>
                            </div> 
                       
                            <div  class="homecont w-36 p-1 h-14 rounded-sm text-xs inline-block ">
                                <button  type="button" class="sub_types border text-xs  min-w-full  min-h-full  p-2 rounded-xl  spacesbtn15   "  >
                                    <img class="inline object-contain h-5  pr-4 " src="/static/images2/basement.svg " alt="Sellogo ">FarmHouse Plot<button>
                                </div> 
            
                </div>                
            
              <!-- her is the commercial container works  -->
                    
              <div class="commercialcont varietycontainer py-4 h-64 flex justify-start items-start pb-7 sm:pr-[50%] md:pr-[20%] lg:pr-[50%] max-h-[100%]"  id="commercialcont" >
                    
    
                <div  class="homecont resedentialbtn  w-36 p-1 h-14 rounded-sm text-xs inline-block ">
                <button  type="button" class="sub_types border  text-xs min-w-full min-h-full p-2 rounded-xl   spacesbtn15 "  >
                    <img  class="inline object-contain h-5 pr-4    " src="/static/images2/house.svg" alt="Sellogo ">Office<button>
                </div> 
                
                <div  class="homecont  w-36 p-1 h-14 rounded-sm text-xs inline-block  ">
                    <button  type="button" class="sub_types border  text-xs min-w-full min-h-full p-2 rounded-xl  spacesbtn15 "  >
                        <img class="inline object-contain h-5 pr-4 " src="/static/images2/apartment.svg" alt="Sellogo ">Shop<button>
                    </div> 
                   
                    <div  class="homecont  w-36 p-1 h-14 rounded-sm text-xs inline-block    ">
                        <button  type="button" class="sub_types border  text-xs min-w-full min-h-full p-2 rounded-xl spacesbtn15 "  >
                            <img class="inline object-contain h-5 pr-4 " src="/static/images2/lower-portion.svg" alt="Sellogo ">Ware House<button>
                        </div> 
                    
                        <div  class="homecont w-36 p-1 h-14 rounded-sm text-xs inline-block     ">
                            <button  type="button" class="sub_types border  text-xs min-w-full min-h-full p-2 rounded-xl spacesbtn15 "  >
                                <img class="inline object-contain h-5 pr-3" src="/static/images2/upper-portion.svg" alt="Sellogo ">Building<button>
                            </div> 
                       
                            <div  class="homecont  w-36 p-1 h-14 rounded-sm text-xs inline-block     ">
                                <button  type="button" class="sub_types border text-xs min-w-full min-h-full p-2 rounded-xl  spacesbtn15 "  >
                                    <img class="inline object-contain h-5 pr-3" src="/static/images2/basement.svg " alt="Sellogo ">Hall<button>
                                </div> 
            </div>
            
            <input type="hidden" id="property_subtypes" name="property_subtypes" value="" class="appearance-none border-2 pl-3 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-purple-[#F26828] focus:shadow-outline">
            </div>
            
            
           
        
          <!--     <div class="gridseconditem  h-24 ">
              
            <div class="haveheading ">
                    <h1  class="text-lg font-semibold pb-3 sm:text-lg sm:font-semibold md:text-xl lg:text-xl  ">What kind of property do you have?</h1>
                    </div>
                    <select id="propertyType" name="property_type" class="border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-indigo-500 focus:ring-1 w-full">
                        <option value="">select options</option>
                        <option >Residential</option>
                        <option >Plot</option>
                        <option >Commercial</option>
                     
                    </select>
          
             </div>      
            -->
    
             <div class="fourthgriditem  mb-10 w-full min-w-[80%] p-2 max-w-full sm:w-[90%]  md:w-[80%]  lg:w-[80%]">

                
                <div   class=" container  w-68  h-6  pb-4  overflow-hidden mb-4  " >
                    <h5  class="propertyquestion  text-lg  font-bold   text-gray-800  overflow-hidden">Which City is your property in ?</h5>
                </div>
            
                 
                <div id="cityofinterest" class="relative mb-4"> 
                    <select id="city" name="city" class="border  rounded-md px-3 py-2 focus:outline-none   appearance-none pl-3     w-full   text-gray-800
                  
                    bg-gray-100  border-[#F26828] focus:border-[#F26828]  p-2 mb-2  focus:ring-1 focus:ring-[#F26828] transition ease-in-out duration-150">
                        <option >Select city</option>
                        {% for city_code, city_name in cities %}
                            <option value="{{ city_code }}">{{ city_name }}</option>
                        {% endfor %}
                    </select>

                </div>
        
              <div   class=" container  w-68  h-6  pb-4  overflow-hidden mb-4  " >
                <h5  class="propertyquestion  text-lg  font-bold    min-w-full  min-h-full   overflow-hidden">Which area is your property in ?</h5>
            </div>
        

            <div id="areaofinterest" class="relative mb-4"> 
                <select id="area" name="area" class="border  rounded-md px-3 py-2 focus:outline-none   appearance-none pl-3     w-full   text-gray-800
                  
                bg-gray-100  border-[#F26828] focus:border-[#F26828]  p-2 mb-2   focus:ring-1 focus:ring-[#F26828] transition ease-in-out duration-150">
                            <option >Select area</option>
                            {% for area_code, area_name in areas %}
                            <option value="{{ area_code }}">{{ area_name }}</option>
                            {% endfor %}
                </select>
            
            </div>


        
            <div   class=" container  w-68  h-6  pb-4  overflow-hidden mb-4  " >
                <h5  class="propertyquestion  text-lg  font-bold     min-w-full  min-h-full   overflow-hidden">What is size of your property ?</h5>
            </div>
         
            <div class="relative flex">
                <input
                  class="appearance-none pl-3    rounded-md w-full py-2 px-3 text-gray-800
                  
                  bg-gray-100  border-[#F26828] focus:border-[#F26828]  p-2 mb-2   focus:ring-1 focus:ring-[#F26828] transition ease-in-out duration-150"
                  id="username"
                  type="text"
                  placeholder="" name= "size"
                />
                
              
                
              </div>
        
        
           
            <div   class=" container  w-68  h-6  pb-4  overflow-hidden mb-4  " >
                <h5  class="propertyquestion  text-lg  font-bold min-w-full  min-h-full   overflow-hidden">What is  your asking price ?</h5>
            </div>
         
            <div class="relative flex">
                <input
                  class="appearance-none pl-3    rounded-md w-full py-2 px-3 text-gray-800
                  
                  bg-gray-100  border-[#F26828] focus:border-[#F26828]  p-2 mb-2   focus:ring-1 focus:ring-[#F26828] transition ease-in-out duration-150"
                  id="username"
                  type="text"
                  placeholder= "" name="price"
                />
                <div class="absolute right-5 bottom-2 inset-y-0 flex items-center">
                  <h1 class="text-[#F26828]">PKR</h1>
                </div>
              
                
              </div>
          
    

            <div   class=" container  w-full  h-6  pb-4  overflow-hidden mb-4  " >
                <h5  class="propertyquestion  text-lg  font-bold  min-w-full  min-h-full   overflow-hidden">Choose no of Rooms?</h5>
            </div>

            <input type="hidden" What is size of your property ?" id="rooms" name="rooms" value="" class="appearance-none border-2 pl-3 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-purple-[#F26828] focus:border-[#F26828] focus:shadow-outline">
         
            <div class="buttoncontainer flex flex-wrap min-h-2 pb-2">
                <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                  <button type="button" id="room_button" class="room_button border  spacesbtn12 activebtn12  min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                    1
                  </button>
                </div>
                <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                  <button type="button" id="room2_button" class="room_button border spacesbtn12 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                    2
                  </button>
                </div>

                <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                    <button type="button" id="room3_button" class="room_button border spacesbtn12 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                     3
                    </button>
                  </div>

                  <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                    <button type="button" id="room4_button" class="room_button border spacesbtn12 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                      4
                    </button>
                  </div>

                    <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                      <button type="button" id="room5_button" class="room_button border spacesbtn12 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                        5
                      </button>
                    </div>

                    <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                        <button type="button" id="room6_button" class="room_button border spacesbtn12 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                         6
                        </button>
                      </div>

                      <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                        <button type="button" id="room7_button" class="room_button border spacesbtn12 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                         7
                        </button>
                      </div>

                      <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                        <button type="button" id="room6_button" class="room_button border spacesbtn12 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                         8
                        </button>
                      </div>

                      <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                        <button type="button" id="room6_button" class="room_button border spacesbtn12 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                         9+
                        </button>
                      </div>

              </div>
           
              <div   class=" container  w-full  h-6  pb-4  overflow-hidden mb-4  " >
                    <h5  class="propertyquestion  text-lg  font-bold  min-w-full  min-h-full   overflow-hidden">Choose no of Bathrooms?</h5>
                </div>
           


            <div class="relative inline-block w-full sm:w-full">
                
            <input type="hidden" id="baths" name="baths" value="" class="appearance-none border-2 pl-3 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-purple-[#F26828] focus:border-[#F26828] focus:shadow-outline">
         
            <div class="buttoncontainer flex flex-wrap min-h-2 pb-2">
                <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                  <button type="button" id="room_button" class="bath_button border  spacesbtn13 activebtn13 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                    1
                  </button>
                </div>
                <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                  <button type="button" id="room2_button" class="bath_button border spacesbtn13 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                    2
                  </button>
                </div>

                <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                    <button type="button" id="room3_button" class="bath_button border spacesbtn13 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                     3
                    </button>
                  </div>

                  <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                    <button type="button" id="room4_button" class="bath_button border spacesbtn13 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                      4
                    </button>
                  </div>

                    <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                      <button type="button" id="room5_button" class="bath_button border spacesbtn13 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                        5
                      </button>
                    </div>

                    <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                        <button type="button" id="room6_button" class="bath_button border spacesbtn13 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                         6
                        </button>
                      </div>

                      <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                        <button type="button" id="room6_button" class="bath_button border spacesbtn13 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                         7+
                        </button>
                      </div>

                      
            </div>
              
          
                <div class="absolute inset-y-0 right-0 flex items-center pr-5 pointer-events-none text-gray-700">
                   
                </div>
            </div>
            
            
            
            
            
    
        
          <div class="flex flex-col mb-4"> 
            <h5  class="propertyquestion  text-lg  font-bold     min-w-full  min-h-full">What is name of property?</h5>
             <input type="text" id="Name" name="name_of_prop" placeholder="Name "  class="appearance-none pl-3    rounded-md w-full py-2 px-3 text-gray-800
                  
             bg-gray-100  border-[#F26828] focus:border-[#F26828]  p-2 mb-2 mt-3  focus:ring-1 focus:ring-[#F26828] transition ease-in-out duration-150">
          </div>
             
            


        
          <div class="container w-68 h-6 pb-4 overflow-hidden mb-4">
            <h5 class="propertyquestion text-lg font-bold min-w-full min-h-full">What do you love about your property?</h5>
        </div>
        
        <div class="select-cont rounded-sm overflow-hidden min-w-full max-w-full">
            <textarea type="text" id="Additional Details" name="additional_details" placeholder="Additional Details" required class="appearance-none pl-3    rounded-md w-full py-2 px-3 text-gray-800
                  
            bg-gray-100  border-[#F26828] focus:border-[#F26828]  p-2 mb-2   focus:ring-1 focus:ring-[#F26828] transition ease-in-out duration-150 resize-none" rows="6" style="width: 100%; height: 100px;"></textarea>
        </div>
        
           
            <div   class=" container  w-68  h-38  pb-4  overflow-hidden mb-4  " >
                <h5  class="propertyquestion  text-lg  font-bold min-w-full  min-h-full   overflow-hidden">Upload the images of your Property </h5>
                <label>Properties with images of good Quality</label><br>
                <label>Generate 8x more leads </label><br>
                <label>Supported file formats :png,jpeg,heic</label>
            </div>
         
        
          
         
            <label class="block text-sm font-medium text-gray-900 " for="files"></label>
            <input class=" w-full text-sm text-gray-900 border  rounded-lg cursor-pointer bg-gray-50  border-[#F26828] focus:border-[#F26828] px-3 h-10 flex pt-2 items-center" id="files" name="images" type="file" multiple>
         
        <!-- 
          <div  class=" h-5  border-5" >
            <button type="submit" class="min-h-full max-h-full  border-5 border-black   "  id="uploadButton" >Upload<button>
          </div>
           -->
        
           
           <div   class=" container  w-68  h-6  mt-4  overflow-hidden mb-4  " >
            <h5  class="ppropertyquestion  text-lg  font-bold  min-w-full  min-h-full   overflow-hidden">Tell us how to contact you ?</h5>
        </div>
     
        <div class="select-cont  text-lg  font-bold     min-w-full max-w-full min-h-full">
          <input type="number" id="contact_number" name="contact_number" placeholder="Phone number"  class="appearance-none pl-3    rounded-md w-[70%] py-2 px-3 text-gray-800
                  
          bg-gray-100  border-[#F26828] focus:border-[#F26828]  p-2 mb-2   focus:ring-1 focus:ring-[#F26828] transition ease-in-out duration-150">
        </div>

        <div   class=" container  w-68  h-6  mt-4  overflow-hidden mb-4 " >
            <h5  class="propertyquestion  text-lg  font-bold     min-w-full  min-h-full   overflow-hidden">what is your name?</h5>
        </div>
     
       <div   class="select-cont  text-lg  font-bold     min-w-full max-w-full min-h-full"  >
        <input type="text" id="owner_name" name="owner_name" placeholder="Name"  class="appearance-none pl-3    rounded-md w-[70%] py-2 px-3 text-gray-800
                  
        bg-gray-100  border-[#F26828] focus:border-[#F26828]  p-2 mb-2   focus:ring-1 focus:ring-[#F26828] transition ease-in-out duration-150">
      </div>
          
        
        
          </div>
        
        
          <div class="gridtleventhitem   mb-8 flex  jsutify-flex-start ">
        
           
            <div   class=" container  w-36  h-16  overflow-hidden mb-4 inline" >
                <h5  class="propertyquestion  text-lg  font-bold  min-w-full  min-h-full   overflow-hidden">Specify Availability </h5>
            </div>
        
        
             
                    
                <label for="toggleButton" class="flex items-center cursor-pointer select-none">
                  <div class="relative">
                    <input type="checkbox" id="toggleButton" class="peer sr-only" />
                    <div class="block h-8 w-14 rounded-full bg-gray-300 "></div>
                    <div class="absolute left-1 top-1 flex items-center justify-center w-6 h-6 bg-white border-2 border-gray-300  rounded-full dot peer-checked:translate-x-full peer-checked:bg-[#F26828] transition-all duration-300">
                      <span class="w-3 h-3 rounded-full bg-[#F26828] peer-checked:bg-white"></span>
                    </div>
                  </div>
                </label>
            </div>
        
        
            <!-- here cleints session starts  -->
        
            <div class="clientsvisibility hidden W-[80%]  h-68    max-h-96 ">
        
                <div   class="container  w-full  h-6  pb-4  overflow-hidden mb-4  " >
                    <h5  class="propertyquestion  text-lg  font-bold  min-w-full  min-h-full   overflow-hidden">Choose when you are available ?</h5>
                </div>
             
               
                    <input type="hidden" id="availability" name="availability" value="" class="appearance-none border-2 pl-3 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-purple-[#F26828] focus:border-[#F26828] focus:shadow-outline">
         
                    <div class="buttoncontainer flex flex-wrap min-h-2 pb-2">
                        <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                          <button type="button" id="room_button" class="day_button border  spacesbtn14 activebtn14 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                            Monday
                          </button>
                        </div>
                        <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                          <button type="button" id="room2_button" class="day_button border spacesbtn14 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                            Tuesday
                          </button>
                        </div>
        
                        <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                            <button type="button" id="room3_button" class="day_button border spacesbtn14 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                             Wednesday
                            </button>
                          </div>
        
                          <div class="roomcontainer container w-28 p-1 h-14 rounded-sm text-xs overflow-hidden">
                            <button type="button" id="room4_button" class="day_button border spacesbtn14 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                              Thursday
                            </button>
                          </div>
        
                            <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                              <button type="button" id="room5_button" class="day_button border spacesbtn14 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                                Friday
                              </button>
                            </div>
        
                            <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                                <button type="button" id="room6_button" class="day_button border spacesbtn14 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                                 Saturday
                                </button>
                              </div>
        
                              <div class="roomcont container w-28 h-14 p-1 border-cyan-400 text-xs overflow-hidden">
                                <button type="button" id="room7_button" class="day_button border spacesbtn14 min-w-full min-h-full p-2 rounded-xl overflow-hidden">
                                 Sunday
                                </button>
                              </div>
        
                </div>
            
        
               
        
          
          
        
        
        <div class="submitbutton  w-60  h-16  bg-red-500  rounded-full mb-10 p-2 flex justify-end ">
        
        <button type="submit"  class="w-full h-full  text-base font-bold  text-white rounded-full  "   > Submit for Review </button>
        </div>
        
        </form>
        
        
        
        
          </div>
        
        
        
          <div  id=" sticky-element" class="sticky  sidecontainer hidden mx-auto  min-w-[30%] lg:w-[50%] lg:px-6 lg:pr-[16%] lg:pt-32     ">
        
           <div  class="min-w-full  max-w-full   min-h-1/2 max-h-1/2     "   >
           <img  class="min-w-full     w-full h-full max-w-full   min-h-full max-h-full object-cover "src="static/images2/sdf.jpeg"  alt="" >
           </div>
        
        </div>
        
        </div>
        
        
        </div>
        
        </div>
    </div>

{% endblock %}